doctype
html
  head
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
    if env == 'development'
        link(href='http://localhost:8080/index.css' rel='stylesheet')
    else
        link(href='index.css' rel='stylesheet')
    title React Server Side Rendering Example
  body
    div(id='react-root')!= markup
    if env == 'development'
        script(src='http://localhost:8080/commons.js')
        script(src='http://localhost:8080/index.js')
    else
        script(src='commons.js')
        script(src='index.js')


