doctype
html
  head
    title React Server Side Rendering Example
  body
    div(id='react-root')!= react
    script(src='http://localhost:8080/commons.js')
    script(src='http://localhost:8080/index.js')